# ===============================
# Django environment configuration
# ===============================

# Django secret key
SECRET_KEY=your-secret-key-here

# Optional: Override debug mode (True or False)
DEBUG=False

# Allowed hosts (comma-separated list)
ALLOWED_HOSTS=localhost,127.0.0.1

# Allowed hosts for Cross-Site Request Forgery
CSRF_TRUSTED_ORIGINS=https://mealstack.example.com


# ===============================
# Environment type
# ===============================

# Options: dev / prod
ENVIRONMENT=prod


# ===============================
# Database configuration
# ===============================

# Choose database backend: sqlite or mysql
DB_ENGINE=mysql

# SQLite specific
# If using SQLite, DB_NAME is the path to the database file
DB_NAME_SQLITE=db.sqlite3

# MySQL specific
DB_NAME_MYSQL=your_db_name
DB_USER=root
DB_PASSWORD=yourpassword
DB_HOST=127.0.0.1
DB_PORT=3306


# ===============================
# Auth Settings
# ===============================

# Feature flags
OIDC_ENABLED=true
OIDC_ALLOW_LOCAL_LOGIN=true

# OIDC config
OIDC_CLIENT_ID=PROVIDER_CLIENT_ID
OIDC_CLIENT_SECRET=PROVIDER_CLIENT_SECRET

OIDC_AUTHORIZATION_ENDPOINT=https://auth.example.com/application/o/authorize/
OIDC_TOKEN_ENDPOINT=https://auth.example.com/application/o/token/
OIDC_USERINFO_ENDPOINT=https://auth.example.com/application/o/userinfo/
OIDC_JWKS_ENDPOINT=https://auth.example.com/application/o/myapp/jwks/

OIDC_RP_SIGN_ALGO=RS256
OIDC_ISSUER=https://auth.example.com/
OIDC_SCOPES=openid email profile


# ===============================
# Optional settings
# ===============================

# Email backend
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# Time zone
TIME_ZONE=UTC

# Default language for localization: MealStack/locale/*
DEFAULT_LANGUAGE=en

# Static files directory
STATIC_ROOT=staticfiles

# Reverse proxy https -> http fix
SECURE_PROXY_SSL_HEADER=HTTP_X_FORWARDED_PROTO,https
USE_X_FORWARDED_HOST=true
