{% extends "base.html" %}
{% load static %}

{% block title %}All Recipes - MealStack{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'recipes/css/recipe_list.css' %}">
{% endblock %}

{% block content %}
<h1>All Recipes</h1>

<div class="recipe-grid">
    {% for recipe in recipes %}
    <div class="card hoverable">
        <!-- Always show primary or placeholder -->
        <img src="{{ recipe.primary_or_placeholder }}" alt="{{ recipe.title }}">

        <h2><a href="{% url 'recipes:recipe_detail' recipe.slug %}">{{ recipe.title }}</a></h2>

        <!-- Tags -->
        <div class="tag-container vertical-tags">
            <!-- <span class="tag">Servings: {{ recipe.servings }}</span> -->
            <span class="tag">Total time: {{ recipe.total_time_display }}</span>
            <span class="tag">Total time: {{ recipe.total_time_display }}</span>
        </div>
    </div>
    {% empty %}
    <p>No recipes available.</p>
    {% endfor %}
</div>
{% endblock %}
